# Object Oriented Programming (OOP)

Object-oriented programming is a programming paradigm that provides a means of structuring programs so that properties and behaviors are bundled into individual objects.

For instance, an object could represent a person with properties like a name, age, and address and behaviors such as walking, talking, breathing, and running. Or it could represent an email with properties like a recipient list, subject, and body and behaviors like adding attachments and sending.

The key takeaway is that objects are at the center of object-oriented programming in Python.

# Classes

Classes provide a means of bundling data and functionality together. Creating a new class creates a new type of object, allowing new instances of that type to be made. Each class instance can have attributes attached to it for maintaining its state. Class instances can also have methods (defined by its class) for modifying its state.

Python classes provide all the standard features of Object Oriented Programming:

- the class inheritance mechanism allows multiple base classes
- a derived class can override any methods of its base class or classes, and
- a method can call the method of a base class with the same name.

Objects can contain arbitrary amounts and kinds of data. As is true for modules, classes partake of the dynamic nature of Python: they are created at runtime, and can be modified further after creation.

## A First Look at Classes
Classes introduce a little bit of new syntax, three new object types, and some new semantics.

The simplest form of class definition looks like this:
```python
class ClassName:
    <statement-1>
    .
    .
    .
    <statement-N>
```  
  
## Class Objects
Class objects support two kinds of operations: attribute references and instantiation.

Attribute references use the standard syntax used for all attribute references in Python: `obj.name`. Valid attribute names are all the names that were in the class’s namespace when the class object was created. So, if the class definition looked like this:

```python
class MyClass:
    """A simple example class"""
    i = 12345

    def f(self):
        return 'hello world'
    
    def print_i(self):
        print(self.i)
```
then `MyClass.i` and `MyClass.f` are valid attribute references, returning an integer and a function object, respectively.

Class instantiation uses function notation. Just pretend that the class object is a parameterless function that returns a new instance of the class. For example (assuming the above class):

```python
x = MyClass()
```

creates a new **instance** of the class and assigns this object to the local variable x.

## Example: `pd.DataFrame`
We have seen pandas DataFrames quite a lot during the last seessions. 

Notice that `pd.DataFrame` is also a class containing **attributes** such as `columns`, `index`, `values`, `shape`

In [12]:
import pandas as pd
df = pd.DataFrame({"Name": ["Anthony", "Flea", "Chad", "John"],
                  "Role": ["Singer", "Bassist", "Drummer", "Guitarist"]})
df

      Name       Role
0  Anthony     Singer
1     Flea    Bassist
2     Chad    Drummer
3     John  Guitarist

In [16]:
print(f"columns attribute:\n{df.columns}\n")
print(f"index attribute:\n{df.index}\n")
print(f"values attribute:\n{df.values}\n")
print(f"shape attribute:\n{df.shape}")

columns attribute:
Index(['Name', 'Role'], dtype='object')

index attribute:
RangeIndex(start=0, stop=4, step=1)

values attribute:
[['Anthony' 'Singer']
 ['Flea' 'Bassist']
 ['Chad' 'Drummer']
 ['John' 'Guitarist']]

shape attribute:
(4, 2)

As (almost) every other class it also contains **methods** (i.e. functions bound to a class) such as `sort_values()`, `count()`

In [19]:
print("sort_values() method:")
display(df.sort_values(by="Name"))

print("\ncount() method:")
display(df.count())

sort_values() method:

      Name       Role
0  Anthony     Singer
2     Chad    Drummer
1     Flea    Bassist
3     John  Guitarist

count() method:

Name    4
Role    4
dtype: int64

### Challenge: Build your first class

- Set up a class called `BankAccount`
- Add an **attribute** `bank_name` to the class and assign a Name of your choice to it
- Add a **method** `print_bank_name` that prints the `bank_name` variable

In [110]:
### Your code here...

In [103]:
# %load ../src/_solutions/bank_account_v0.py

In [6]:
bank = BankAccount()
bank.print_bank_name()

My name is My Bank

## Instantiation
The instantiation operation (“calling” a class object) creates an empty object. Many classes like to create objects with instances customized to a specific initial state. Therefore a class may define a special method named `__init__()`, like this:

```python
def __init__(self):
    self.data = []
```
When a class defines an `__init__()` method, class instantiation automatically invokes `init()` for the newly-created class instance. The `__init__()` method may have arguments for greater flexibility.

```python
class AddressBook:
     def __init__(self, name, email):
         self.name = name
         self.email = email
```
Now what can we do with instance objects? The only operations understood by instance objects are attribute references. There are two kinds of valid attribute names, data attributes and methods.

```python
class AddressBook:
     def __init__(self, name, email):
         self.name = name
         self.email = email
            
     def print_name(self):
         print(f'Hi, {self.name}. Your email is {self.email}')
```

### Challenge: Add `__init__()` function
- Implement a `__init__()` function which takes `bank_name` and `customer_name` as arguments and instantiates the class with them

In [106]:
class BankAccount:
    ### your code here ...
    pass

In [107]:
# %load ../src/_solutions/bank_account_v1.py

In [33]:
bank_ermi = BankAccount('Commerzbank', 'Ermi')
bank_ermi.print_bank_name()
bank_ermi.print_customer_name()

My name is Commerzbank
This account belongs to Ermi

In [34]:
bank_aleks = BankAccount('Sparkasse', 'Aleks')
bank_aleks.print_bank_name()
bank_aleks.print_customer_name()

My name is Sparkasse
This account belongs to Aleks

## Printing a class instance

Upon trying to print a class instance you will see a weird looking output:

- Something like `<__main__.ClassName object at 0x0000FFFF42FFFF42>`.

To actually make a object printable you need to implement a `__str__()` method.

Example:
```python
def __str__(self):
    return "Hello World"
```

In [35]:
print(bank_ermi)

<__main__.BankAccount object at 0x000001FC46CE2D90>

### Challenge: Add a `__str__()` method

In [11]:
class BankAccount:
    def __init__(self, bank_name, customer_name):
        self.bank_name = bank_name
        self.customer_name = customer_name
    
    def print_bank_name(self):
        print(f"My name is {self.bank_name}")
        
    def print_customer_name(self):
        print(f"This account belongs to {self.customer_name}")
        
    ### Your code here...

In [37]:
# %load ../src/_solutions/bank_account_v2.py

In [40]:
bank_ermi = BankAccount('Commerzbank', 'Ermi')
print(bank_ermi)

This Commerzbank account belongs to Ermi

In [41]:
bank_aleks = BankAccount('Sparkasse', 'Ermi')
print(bank_aleks)

This Sparkasse account belongs to Ermi

## Private attributes and methods
You can "hide" attributes and methods by prepending `__` to a attribute/method name.
It then won't get automatically suggested (and is hard to access, _though not impossible!_)

Keep in mind that Python doesn't offer Encapsulation such as Java for example does. The private attribute or method is not in fact private, just hidden!

In [45]:
class BankAccount:    
    def __init__(self, bank_name, customer_name):
        self.bank_name = bank_name
        self.customer_name =  customer_name
        self.__balance = 0
    
    def __str__(self):
        return f'This {self.bank_name} account belongs to {self.customer_name}'

    def print_bank_name(self):
        print('My name is', self.bank_name)
         
    def print_customer_name(self):
        print('This account belongs to', self.customer_name)
        
    # public method to access private attribute
    def get_balance(self):
        return self.__balance

In [46]:
bank_ermi = BankAccount('Commerzbank', 'Ermi')
bank_ermi.get_balance()

0

In [52]:
# See: You can acceess hidden variables by using instance._ClassName__hiddenVariableName
# and even overwrite it! So there are no secure variables in Python
bank_ermi._BankAccount__balance

0

## Challenge: Extend the class for to "fully" featured bank account
Add the following:
- deposit() method
- withdraw() method
- pin attribute (ask for it before deposit and withdraw)
- (opt) lock account after 3 entering a wrong pin three times

In [53]:
class BankAccount:    
    def __init__(self, bank_name, customer_name):
        self.bank_name = bank_name
        self.customer_name =  customer_name
        self.__balance = 0
    
    def __str__(self):
        return f'This {self.bank_name} account belongs to {self.customer_name}'

    def print_bank_name(self):
        print('My name is', self.bank_name)
         
    def print_customer_name(self):
        print('This account belongs to', self.customer_name)
        
    # public method to access private attribute
    def get_balance(self):
        return self.__balance
    
    ### Your code here...

In [108]:
# %load ../src/_solutions/bank_account_v3.py

In [109]:
bank = BankAccount('Sparkasse', 'Ermi', '7777')

TypeError: BankAccount() takes no arguments

In [82]:
bank.deposit(400)

Please enter your PIN:  7777

Your amount got deposited.

In [83]:
bank.get_balance()

400

In [89]:
bank.withdraw(100)

Please enter your PIN:  7777

In [90]:
bank.get_balance()

200

## Inheritance

A child class can inherit from a parent class, inheriting all attributes and methods from the specified parent function.

Syntax: 
```python
class ChildClass(ParentClass):
    pass
```

You can then extend the child class or even overwrite some of it's functionality. 

You can call a method or attribute of the parent class using the `super()` keyword.

In [95]:
class SparkassenSpecialAccount(BankAccount):

    def __init__(self, customer_name, pin):
        super().__init__(bank_name = "Sparkasse", customer_name = customer_name, pin = pin)
        self._BankAccount__balance = 500

In [96]:
sparkasse = SparkassenSpecialAccount("Aleks", "1234")

In [97]:
print(sparkasse)

This Sparkasse account belongs to Aleks

In [98]:
sparkasse.get_balance()

500

In [101]:
sparkasse.deposit(1000)

Please enter your PIN:  1234

Your amount got deposited.

In [102]:
sparkasse.get_balance()

1500

## Challenge: Let's try out a new IDE
Press the blue + Button in the top left corner and open a new Terminal session.

Type in: `spyder` 

## Challenge: Implement the game 'Tic Tac Toe'

Here is an idea how you could do this:

- Attributes:
    - `game_board`: 3x3 matrix (suggestion: `np.zeros((3,3))`)
    - `turn`: String Variable which knows which person is currently picking their choice
    

- Methods:
    - `print_board`: print current gamestate
    - `choice_possible`: method which checks if the selected field is already occupied
    - `players_turn`: input from the player (row, col) and check if choice is possible
    - `check_win`: method which goes through each row, col and checks if the current player has won
    - `ai_turn`: field (row, col) will be randomly chosen until the field is not occupied
    - `play`: players_turn -> check_possible -> check_win -> ai_turn (-> check_possible) -> check_win  

To start off please open the file `src/tictactoe.py`